
body {
    background-image:url(images/4k-universe-earth-in-space-213v11obk62gr49v.jpg);
    background-size: cover;
}

img{
    width: 35%;
    height: 45%;
}

body{
    font-family: helvetica;
    font-size: 25px;
    color: rgb(0, 133, 173);
    background-color: aliceblue;
}