
body {
    background-image:url(images/4k-earth-golden-sunrise-4co6o4qai1oplq17.jpg) ;
    background-size: cover;
}

img{
    width: 35%;
    height: 45%;
}

body{
    font-family: helvetica;
    font-size: 25px;
    color: rgb(0, 133, 173);
    background-color: aliceblue;
}