body {
    background-image:url(images/11221666657629331261.jpg) ;
    background-size: cover;
}

img{
    width: 25%;
    height: 35%;
}


body{
    font-family: helvetica;
    font-size: 25px;
    color:white;
    background-color: aliceblue;
}

